<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="modal fade" id="addOrderedItems" tabindex="-1" data-keyboard="false" data-backdrop="static" th:fragment="addOrderedItems-modal">
	<div class="modal-dialog">
		<form th:attr="data-url-base=@{/ithappens/orderedItems}" method="POST" th:object="${orderedItem}">
			
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Cadastro de Pedidoss</h4>
				</div>
				<div class="modal-body col-md-12">
					<p class="alert detalhes">Erro no JS sale</p>
					
					
					<input type="hidden"  name='sales'  value='sales' id="sales"/>
				
					<div class="form-group">					
						
						<div class="col-md-4">
							<label for="dataOrderedItem" class="control-label">Data:
							<span class="text-danger">*</span></label> <input type="text" class="form-control" id="dataOrderedItem"
								name="dataOrderedItem" data-provide="datepicker" 
								data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
								data-date-autoclose="true" data-date-today-highlight="true"
								data-date-orientation="bottom"/>
							<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
						</div>
						
						<div class="col-md-3">
							<label for="OrderedItems" class="control-label">Pedidoss:</label>
							<input type="text"  class="form-control"  id="orderedItems" placeholder="0,0" name="orderedItems" />
						</div>
						
						<div class="col-md-5">
						<label for="users" class="control-label">Usuário:</label>
						<select class="form-control" name="users" >
							<option th:each="users : ${tdusers}"  
								th:value="${users.codigo}" th:text="${users.nome}">
							</option>
						</select>
						</div>
					</div>
					<div class="form-group">										
						<div class="col-md-12">
							<label for="descricao" class="control-label">Descricão:</label>
							<input type="text" class="form-control" id="descricao" name="descricao"/>
						</div>
					
					</div>	
					
				</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Inserir</button>
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
</div>
	
</html>



