<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 

<head>
	<title>Dashboard</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h3 class="color:red">Dashboard</h3>
		</div>
	</div>
	

	<div class="container-fluid" id="DashboardBtnPrincipal">
		<div class="row">
			
			<div class="col-md-3" id="DashboardTask">
				<a th:href="@{/ithappens}">
				<div class="aw-box">
					<div class="Dicon"> <img th:src="@{/layout/images/dashb/task.png}"/>
						<i class="fa  fa-heartbeat  fa-3x"></i>
					<span class="pull-right text-info">Total:<b th:text="${{taskContTotal}}"></b></span>
					</div>
					<div class="aw-box__value">Vendas</div>
					<small>Total = <b th:text="${{modulosAll}}"></b></small>
				</div>
				</a>
			</div>
			
			<div class="col-md-3" id="DashboardPessoas">
				
				<div class="aw-box">
					<div class="Dicon"><img th:src="@{/layout/images/dashb/persona.png}"/>
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value"><a>Pessoas</a></div>
					<a th:href="@{/ithappens/lider}"><small>Usuarios:<b th:text="${{pessoasContLideres}}"></b></a> | <a th:href="@{/ithappens/responsavel}">Clientes:<b th:text="${{pessoasContResponsavel}}"></b></small></a>
				</div>
				
			</div>
			
			<div class="col-md-3" id="DashboardModulos">
				<a th:href="@{/ithappens/modulo}">
				<div class="aw-box">
					<div class="Dicon"> <img th:src="@{/layout/images/dashb/modulos.png}"/>
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value">Produtos</div>
					<small>Total = <b th:text="${{modulosAll}}"></b></small>
				</div>
				</a>
			</div>
			
			<div class="col-md-3" id="DashboardHoras">
				<a th:href="@{/ithappens/horas}">
				<div class="aw-box">
					<div class="Dicon"> <img th:src="@{/layout/images/dashb/horas.png}"/>
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value">Filiais</div>
					<small>Total = <b th:text="${{modulosAll}}"></b></small>
				</div>
				</a>
			</div>
			
			<div class="col-md-3" id="DashboardHoras">
				<a th:href="@{/ithappens/horas}">
				<div class="aw-box">
					<div class="Dicon"> <img th:src="@{/layout/images/dashb/horas.png}"/>
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value">Pedidos</div>
					<small><span class="text-success">Ativo:</span><b th:text="${{taskContOpen}}"></b>  -  <span class="text-warning" >Cancelado:</span><b th:text="${{taskContOnHold}}">05</b>  -  <span class="text-info">Processado:</span><b th:text="${{taskContClosed}}">20</b></small></small>
				</div>
				</a>
			</div>
			
			<div class="col-md-3" id="DashboardHoras">
				<a th:href="@{/ithappens/horas}">
				<div class="aw-box">
					<div class="Dicon"> <img th:src="@{/layout/images/dashb/horas.png}"/>
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value">Estoque</div>
					<small>Consulta de Itens</small>
				</div>
				</a>
			</div>
			
			<div class="col-md-3" id="DashboardHoras">
				<a th:href="@{/ithappens/horas}">
				<div class="aw-box">
					<div class="Dicon"> <img th:src="@{/layout/images/dashb/horas.png}"/>
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value">Relatórios</div>
					<small>Relatórios & Extratos</small>
				</div>
				</a>
			</div>

		</div>

	</div>
</section>

</html>
